{% load static %}
<aside class="aside aside-fixed">
  <div class="aside-header">
    <a href="{% url 'employee-dashboard' %}"
      class="aside-logo"><img src="{% static 'customer/images/logo.png' %}"
        alt=""
        width="100"> </a>
    <a href=""
      class="aside-menu-link">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="aside-body">
    <div class="aside-loggedin">
      <!-- <div class="d-flex align-items-center justify-content-start">
        <a href=""
          class="avatar">
          <img src="https://via.placeholder.com/500"
            class="rounded-circle"
            alt="">
        </a>
        <div class="aside-alert-link">
          <a class="logout"
            data-url="{% url 'employee-logout' %}"
            href="javascript:;"
            data-toggle="tooltip"
            title="Системээс гарах">
            <i data-feather="log-out"></i>
          </a>
        </div>
      </div> -->
      <div class="aside-loggedin-user">
        <a href="#loggedinMenu"
          class="d-flex align-items-center justify-content-between mg-b-2"
          data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0">{{ user.username|upper }}</h6>
          <i data-feather="chevron-down"></i>
        </a>
        {% if user.employee.first_name and user.employee.last_name %}
        <p class="tx-color-03 tx-12 mg-b-0">
          {{ user.employee.first_name|upper }}
          {{ user.employee.last_name|upper }}
        </p>
        {% endif %}
      </div>
      <div class="collapse"
        id="loggedinMenu">
        <ul class="nav nav-aside mg-b-0">
          <li class="nav-item">
            <a href=""
              class="nav-link">
              <i data-feather="settings"></i> <span>Нууц үг солих</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="logout nav-link"
              data-url="{% url 'employee-logout' %}"
              href="javascript:;">
              <i data-feather="log-out"></i> <span>Системээс гарах</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- aside-loggedin -->

    <ul class="nav nav-aside">
      <li class="nav-label">Хянах самбар</li>
      {% url 'employee-dashboard' as dashboard %}
      <li class="nav-item {% ifequal dashboard request.path %}active{% endifequal %}">
        <a href="{{ dashboard }}"
          class="nav-link">
          <i data-feather="shopping-bag"></i> <span>Хянах самбар</span>
        </a>
      </li>
      {% url 'employee-orders' as order_list %}
      <li class="nav-item {% if order_list in request.path %}active{% endif %}">
        <a href="{{ order_list }}"
          class="nav-link">
          <i data-feather="globe"></i> <span>Захиалга</span>
        </a>
      </li>
      {% url 'employee-feedbacks' as feedback_list %}
      <li class="nav-item {% if feedback_list in request.path %}active{% endif %}">
        <a href="{{ feedback_list }}"
          class="nav-link">
          <i data-feather="globe"></i> <span>Санал хүсэлт</span>
        </a>
      </li>

      <li class="nav-label mg-t-25">Системийн хэрэглэгчид</li>
      {% if user.employee.is_super_manager %}
      {% url 'employee-list' as manager_list %}
      <li class="nav-item {% if manager_list in request.path %}active{% endif %}">
        <a href="{{ manager_list }}"
          class="nav-link">
          <i data-feather="calendar"></i>
          <span>Ажилтан</span>
        </a>
      </li>
      {% endif %}
      {% url 'employee-customer-list' as customer_list %}
      <li class="nav-item {% if customer_list in request.path  %}active{% endif %}">
        <a href="{{ customer_list }}"
          class="nav-link">
          <i data-feather="message-square"></i> <span>Харилцагчид</span>
        </a>
      </li>

      {% if user.employee.is_super_manager %}
      <li class="nav-label mg-t-25">Тохиргоо</li>
      {% url 'employee-promotion-list' as promotion_list %}
      <li class="nav-item {% if promotion_list in request.path %}active{% endif %}">
        <a href="{{ promotion_list }}"
          class="nav-link">
          <i data-feather="user"></i> <span>Урамшуулал</span>
        </a>
      </li>
      {% url 'employee-advertisement-list' as advertisement_list %}
      <li class="nav-item {% if advertisement_list in request.path %}active{% endif %}">
        <a href="{{ advertisement_list }}"
          class="nav-link">
          <i data-feather="file"></i> <span>Сурталчилгаа</span>
        </a>
      </li>
      {% url 'employee-post-list' as post_list %}
      <li class="nav-item {% if post_list in request.path %}active{% endif %}">
        <a href="{{ post_list }}"
          class="nav-link">
          <i data-feather="layers"></i> <span>Нийтлэл</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</aside>