{% extends 'customer/base.html' %}

{% load static %}

{% block content %}
<div class="site__body">
  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'customer-home' %}">Нүүр</a>
              <svg class="breadcrumb-arrow"
                width="6px"
                height="9px">
                <use xlink:href="{% static 'customer/images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item active"
              aria-current="page">Үйлчилгээний нөхцөл</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="document">
        <div class="document__header">
          <h1 class="document__title">Үйлчилгээний нөхцөл</h1>
          <!-- <div class="document__subtitle">This Agreement was last modified on 27 May 2018.</div> -->
        </div>
        <div class="document__content typography">
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis neque ut purus fermentum, ac
            pretium nibh facilisis. Vivamus venenatis viverra iaculis. Suspendisse tempor orci non sapien ullamcorper
            dapibus. Suspendisse at velit diam. Donec pharetra nec enim blandit vulputate. Suspendisse potenti.
            Pellentesque et molestie ante. In feugiat ante vitae ultricies malesuada.</p> -->
          <h4>НЭГ. ЕРӨНХИЙ ЗААЛТ</h4>
          <ol>
            <li>
              sales.monos.mn онлайн худалдааны сайт нь "МОНОС" ХХК – ний албан ёсны вэб сайт бөгөөд энэхүү
              үйлчилгээний нөхцөл, журам нь эм, эмийн бүтээгдэхүүнийг онлайнаар захиалах, худалдан авах болон хүргэхтэй
              холбоотойгоор үүсэж байгаа харилцааг зохицуулахад оршино.
            </li>
            <li>
              Энэхүү нөхцөл нь харилцагч sales.monos.mn онлайн худалдааны үйлчилгээний нөхцөлийг хүлээн зөвшөөрч
              баталгаажуулсны үндсэн дээр хэрэгжинэ.
            </li>
            <li>
              Энэхүү үйлчилгээний нөхцөлийн хэрэгжилтэд “МОНОС” ХХК /цаашид байгууллага гэх/ болон харилцагч /цаашид
              захиалагч гэх/ хамтран хяналт тавина.
            </li>
          </ol>

          <h4>ХОЁР. ХАРИЛЦАГЧИЙН АНХААРАХ ЗҮЙЛС</h4>
          <ol>
            <li>
              sales.monos.mn онлайн худалдааны тэмдэгтүүд нь “МОНОС” ХХК-ний өмч бөгөөд энэхүү вебсайтын лого, нэр бусад
              загварыг хуулах, олшруулах, дуурайх, өөр бусад ямар ч зүйлд ашиглахыг хориглоно.
            </li>
            <li>
              Веб сайтын ажиллагаа, түүний аюулгүй байдал, харилцагчийн мэдээллийн нууцлалыг “МОНОС” ХХК бүрэн хариуцна.
            </li>
            <li>
              Харилцагч нь sales.monos.mn системд нэвтрэх хэрэглэгчийн нэр болон нууц үгийг бусдад дамжуулахгүй байх,
              үүнтэй холбоотой учирч болох аливаа эрсдэлээс сэргийлэх үүрэгтэй. Энэхүү үүргээ биелүүлээгүй буюу
              хангалтгүй биелүүлсний улмаас учирсан аливаа хохирлыг “МОНОС” ХХК хариуцахгүй болно.
            </li>
            <li>
              Харилцагч вебсайтын талаар санал гомдол, шинэ бараа борлуулах хүсэлт, шүүмж зэргийг чөлөөтэй илэрхийлэх,
              илгээх эрхтэй.
            </li>
            <li>
              Харилцагчийн мэдээллийн үнэн зөв, бодит байдалд харилцагч бүрэн хариуцлага хүлээнэ.
            </li>
          </ol>

          <h4>ГУРАВ. ЗАХИАЛГА ХИЙХ, ЗАХИАЛГА БАТАЛГААЖИХ, ЗАХИАЛГА ЦУЦЛАХ ХУГАЦАА</h4>
          <ol>
            <li>
              Харилцагч sales.monos.mn онлайн системийг ашиглан 24 цагийн аль ч цагт хэдэн удаа ч захиалга хийж болно.
            </li>
            <li>
              Захиалга хийснээс хойш 1 цагийн дотор таны захиалга баталгаажих бөгөөд хэрвээ таны захиалга ямар нэгэн
              системийн алдаа гарвал таны мэссэж хэсэгт мэдээлэл ирэх болно.
            </li>
            <li>
              Захиалга баталгаажсаны дараагаар бэлтгэгдэх төлөвт шилжинэ.
            </li>
            <li>
              Захиалга тухайн өдрийн 12:00 цагаас өмнө хийвэл, таны захиалга тухайн өдрөө хүргэлтэд гарна. Хэрвээ 12:00
              цагаас хойш захиалга өгвөл маргааш өглөө 10:00 - 13:00 цагийн хооронд хүргэгдэнэ. /Шаардлагатай тохиолдолд
              та захиалга яаралтай авах бол захиалга хүлээн авагчтай холбогдоно уу./
            </li>
            <li>
              Захиалгатай холбоотой аливаа санал хүсэлтээ хэлэх бол ажлын цагаар 7700 3322 утсаар холбогдож мэдээлэл
              авах, тодруулах бүрэн боломжтой.
            </li>
            <li>
              Харилцагч нь онлайнаар захиалга хийхдээ эм, эмийн бүтээгдэхүүний дэлгэрэнгүй мэдээлэл болон захиалсан
              эмийн жагсаалтаа анхааралтай шалгаж байж захиалах шаардлагатай юм. Эм, эмийн бүтээгдэхүүний талаар бүрэн
              мэдээлэл аваагүйгээс болж захиалга хүргэгдэн ирсний дараа захиалгыг буцаах хүсэлтийг хүлээн авах, эм,
              эмийн бүтээгдэхүүнийг буцаах боломжгүй.
            </li>
            <li>
              Барааны төрөл, хэлбэр, жин, овор хэмжээнээс хамааран захиалга болон хүргэлт хийх хугацаа өөр байх
              боломжтой. Хэрэв Харилцагчийн хийсэн захиалгын бараа онцгой шинж чанартай байх тохиолдолд тухайн үед нь
              Харилцагчдад мэдэгдэх, тодруулах, захиалгыг дахин баталгаажуулж хүргэлтийн нөхцөлийг тодорхойлох болно.
            </li>
          </ol>
          <h4>ДӨРӨВ. ХҮРГЭЛТ</h4>
          <ol>
            <li>
              Захиалсан барааг харилцагчийн системд оруулсан хүргэлтийн хаяг хэсгийг үндэслэн хүргэх бөгөөд хүргэлтийн
              хаягаа өөрчлөхөө мартсан, хүргэлтийн хаягийг буруу шивсэн зэргээс үүдэн гарах хохирлыг "МОНОС" ХХК
              хариуцахгүй болно.
            </li>
            <li>
              Байгалийн гамшиг болон бусад давагдашгүй хүчин зүйл, бүх нийтийн амралтын өдрүүд, хил, гаалийн үйл
              ажиллагаа саатах, цаг агаарын байдал болон бусад хүчин зүйлийн улмаас тээвэрлэлт саатах зэрэг шалтгаанаар
              тодорхой хугацаагаар бараа хүргэлт саатах бүрд харилцагчдад нэн даруй мэдэгдэнэ.
            </li>
            <li>
              Байгалийн гамшиг болон бусад давагдашгүй хүчин зүйл, цаг агаарын байдал болон бусад хүчин зүйлийн улмаас
              хүргэлтээр гарсан эм бараа бүтээгдэхүүн эвдрэл гэмтэл үүсэх, устаж үгүй болох зэргээс үүдэн гарах хохирлыг
              гэрээнд заасан нөхцөлийн дагуу шийдвэрлэнэ.
            </li>
            <li>
              3-р зүйлд зааснаас бусад нөхцөлд харилцагчид хүргэлтээр очих эм, эмийн бүтээгдэхүүнд эвдрэл гэмтэл үүсэх,
              устаж үгүй болсон тохиолдол "МОНОС" ХХК бүрэн хариуцна.
            </li>
            <li>
              Тухайн эм барааны хадгалах болон тээвэрлэх горимын дагуу хүргэлтийн тээврийг нөхцөлийг хангаж ажиллана.
            </li>
            <li>
              Захиалгын нийт үнийн дүн 50'000 дээш төгрөг болсон тохиолдол эм бараа бүтээгдэхүүнийг хүргэх бөгөөд
              хүргэлт үнэ төлбөргүй байна.
            </li>
            <li>
              Харилцагч хүргэлтээр хүргүүлэх хаяг, холбоо барих утасны дугаараа /маш тодорхой/ үнэн зөв бөглөх үүрэгтэй
              ба хүргэлт очих цагаар харилцагчийн утас холбогдох боломжтой байх шаардлагатай. Хүргэлтийн хаяг
              тодорхойгүй, утсаар нь лавлах боломжгүй үед хүргэлтийн ажилтан дараагийн хүргэлтийн цэг рүү шилжих бөгөөд
              тухайн өдрийн маршрутаа хүргэж дууссаны дараа дахин холбогдож хүргэх болно.
            </li>
            <li>
              Эм, эмийн бүтээгдэхүүнийг хүлээн авагч зарлагын баримттай тоо, ширхэг хэмжээ болон эвдрэл гэмтлийг шалгах,
              гарын үсгээ зуран хүлээн авах үүрэгтэй. Үйлдвэрийн алдаанаас шалтгаалсан сав баглаа боодол дотроо тоо,
              ширхэг дутах болон эвдэрч гэмтсэн эм, эмийн бүтээгдэхүүн гарч ирэх үед "МОНОС" ХХК –д хандан солиулан
              хүргүүлж авч болно.
            </li>
            <li>
              Захиалгатай холбоотой бүхий л дэлгэрэнгүй мэдээллийг харилцагчийн бүртгүүлсэн и-мэйл хаяг уруу тогтмол
              илгээгдэх ба харилцагч вебсайт дахь өөрийн захиалга хянах цэсний захиалгын түүх, захиалгын төлөв хэсгээс
              харж, хянах боломжтой.
            </li>
          </ol>

          <h4>ТАВ. БУСАД</h4>
          <ol>
            <li>
              Хэрэв sales.monos.mn худалдааны системийн үйлчилгээний нөхцөл өөрчлөгдөх, шинэчлэгдэх тохиолдолд
              Харилцагчийн бүртгүүлсэн цахим хаяг руу тухай бүрд нь мэдээлэл явуулж танилцуулж байна.
            </li>
            <li>
              Харилцагчийн захиалга хийгдэх үед хүчинтэй байсан үйлчилгээний нөхцөл захиалга хүлээж авах хугацаанд
              өөрчлөгдсөн тохиолдолд өмнөх үйлчилгээний нөхцөлийг бараа хүлээж авах хүртэлх хугацаанд хүчинтэйд тооцох
              болно.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}